# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Bazel build directories
**/bazel-*

# vscode
**/.vscode*
src/leaf_node.hpp
**/.cache

# Clion
**/.idea*
**/cmake-build-debug*
**/cmake-build-release*
**/.cache
**/.clwb

compile_commands.json
